.slick-prev {
  display: none !important;
}
.slick-next {
  display: none !important;
}
.slick-dots {
  margin: -15px 0 !important;
}

.owl-heading {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #2c2d2e;
  padding: 25px 0;
  margin-top: 50px;
  span {
    color: #ef7c00;
  }
}

@media (max-width: 900px) {
  .owl-heading {
    font-size: 28px;
  }
}

@media (max-width: 500px) {
  .owl-heading {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .slick-slide img {
    margin: 0 auto;
  }
}
