#navbar-nav {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  z-index: 10000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: fixed;
  z-index: 10000;
}
.navbar #navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.navbar #navbar li {
  text-decoration: none;
  padding: 0 20px;
  position: relative;
}
.navbar #navbar li a {
  color: #2c2d2e;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.navbar #navbar li a:hover,
.navbar #navbar li a:active {
  color: #ef7c00;
}
.navbar #navbar li a:hover::after,
.navbar #navbar li a:active::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #ef7c00;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.navbar #mobile {
  display: none;
  right: 40px;
  position: fixed;
}
.navbar #mobile i {
  color: #2c2d2e;
}

@media (max-width: 1058px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    position: fixed;
    top: 100px;
    right: -1200px;
    width: 50%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 50px 0 0 30px;
    z-index: 10000;
    transition: 0.3s ease-in-out;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 35px;
  }
  #mobile {
    display: block !important;
  }
  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}